<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @author.genre %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @author.birthday %>
</p>

<%= link_to 'Edit', edit_admin_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
